.header-bar{
    height: 100px;
    background-color: #fdfddf;
    p {
        font-size: 1rem;
    }
    
}

.menu-bar{
    background-color:#fff;
    height: 50px;
}



.clearfix{
    margin-top: 2.0rem;
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .clearfix{
        margin-top: 2.0rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .clearfix{
        margin-top: 2.0rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .clearfix{
        margin-top: 8.0rem;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .clearfix{
        margin-top: 8.0rem;
    }
}
footer.page-footer {
    a{
        color: rgb(133, 131, 131);
        font-size: 0.9rem;
    }
}


// .navbar {
//     position: relative;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0.5rem 0.0rem;
// }



  