<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav" [containerInside]="true">
  <logo>
    <a class="logo navbar-brand" href="#">
      <strong>MasterPix</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Prints</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Photobooks</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Calendars</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Cards</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Digital Offset Print</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Frames</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Gifts</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Promotion</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar>
<div class="row mt4">
  <div class="col-md-12">
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <mdb-slide *ngFor="let slide of slides; let index=index">
        <img class="d-block w-100" [src]="slide.image">
        <!-- <div class="carousel-caption">
              <h4>Slide {{index}}</h4>
              <p>{{slide.text}}</p>
            </div> -->
      </mdb-slide>
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </div>
</div>


<main class="py-5 mt-3">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Online Photobook Canvas Photo Print Calendar</h2>
        <p align="justify">
          บริการทำโฟโต้บุ๊ค (Photobook) ภาพแคนวาส (Canvas) ของขวัญจากรูปภาพ (Photo Gift) ปฏิทิน (Calendar) และอัดรูปภาพออนไลน์ (Online
          Photo Print) เปลี่ยนภาพถ่ายให้เป็นของขวัญสุดพิเศษที่สามารถสัมผัสได้ด้วยมือ สามารถทำได้ง่ายด้วยตัวคุณเองผ่านระบบออนไลน์ดีไซนเนอร์
          แค่เพียงเลือกรูปแบบ อัปโหลดรูป กำหนดรูปแบบที่ต้องการ และสั่งซื้อ มีบริการจัดส่งทั่วประเทศ
        </p>

      </div>
    </div>

  </div>


  <div class="row mt-4 text-center">
    <div class="col-md-12">
      <h2>Lowest Price Guarantee</h2>
      <hr>
    </div>
  </div>



  <div class="row mt-4 flex-center">
    <div class="col-md-5">
      <div class="card view zoom">
        <img class="img-fluid" src="https://www.lalapixthailand.com/wp-content/uploads/2018/04/Card.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">70% OFF WEDDING INVITATION </h4>
          <!-- <p>พิมพ์การ์ดแต่งงาน ผ่านระบบออนไลน์ดีไซน์ของเรา คุณจะได้การ์ดแต่งงานที่ไม่เหมือนใคร</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-5 clearfix d-none d-md-block">
      <div class="card view zoom">
        <img class="img-fluid" src="https://www.lalapixthailand.com/wp-content/uploads/2018/04/Sticker.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">62% OFF PERSONALIZE STICKER</h4>
          <!-- <p>ออกแบบสติกเกอร์ในสไตล์ของคุณเพื่อใช้ในชีวิตประจำวันที่ไม่เหมือนใคร</p> -->
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mt-4 flex-center">
    <div class="col-md-3">
      <div class="card view zoom">
        <img class="img-fluid" src="https://www.lalapixthailand.com/wp-content/uploads/2018/04/Card.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">70% OFF WEDDING INVITATION </p>
          <!-- <p>พิมพ์การ์ดแต่งงาน ผ่านระบบออนไลน์ดีไซน์ของเรา คุณจะได้การ์ดแต่งงานที่ไม่เหมือนใคร</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 clearfix d-none d-md-block">
      <div class="card view zoom">
        <img class="img-fluid" src="https://www.lalapixthailand.com/wp-content/uploads/2018/04/Sticker.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">62% OFF STICKER</p>
          <!-- <p>ออกแบบสติกเกอร์ในสไตล์ของคุณเพื่อใช้ในชีวิตประจำวันที่ไม่เหมือนใคร</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 clearfix d-none d-md-block">
      <div class="card view zoom">
        <img class="img-fluid" src="https://www.lalapixthailand.com/wp-content/uploads/2018/04/Sticker.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">62% OFF STICKER</p>
          <!-- <p>ออกแบบสติกเกอร์ในสไตล์ของคุณเพื่อใช้ในชีวิตประจำวันที่ไม่เหมือนใคร</p> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-4 text-center">
    <div class="col-md-12">
      <h2>What's Hot</h2>
      <!-- <h4>ประจำเดือนนี้</h4> -->
      <hr>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2017/05/Pd2-300x300.jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2018/02/Instagram-Book_SQ_4-300x300.jpg" class="img-fluid "
            alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2017/05/Pd2-300x300.jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2018/02/Instagram-Book_SQ_4-300x300.jpg" class="img-fluid "
            alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2017/05/Pd2-300x300.jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2018/02/Instagram-Book_SQ_4-300x300.jpg" class="img-fluid "
            alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2017/05/Pd2-300x300.jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <h4 class="white-text">Zoom effect</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="view zoom overlay">
          <img src="https://www.lalapixthailand.com/wp-content/uploads/2018/02/Instagram-Book_SQ_4-300x300.jpg" class="img-fluid "
            alt="">
          <div class="mask flex-center">
            <h2 class="gray-text">Zoom effect</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h5 class="py-5 text-center">Trusted by 400 000 + client</h5>
        <div class="row text-center">
          <div class="col-md-2">.</div>
          <div class="col-md-8">
            <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
              <mdb-slide>
                <div class="row">

                  <!--First column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/nike.png" class="img-fluid px-4" alt="Nike - logo" style="max-height: 40px">
                  </div>
                  <!--/First column-->

                  <!--Second column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/amazon.png" class="img-fluid px-4" alt="Amazon - logo" style="max-height: 40px">
                  </div>
                  <!--/Second column-->

                  <!--Third column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/sony.png" class="img-fluid px-4" alt="Sony - logo" style="max-height: 40px">
                  </div>
                  <!--/Third column-->

                  <!--Fourth column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/samsung.png" class="img-fluid px-4" alt="Samsung - logo" style="max-height: 40px">
                  </div>
                  <!--/Fourth column-->

                </div>
              </mdb-slide>
              <mdb-slide>
                <div class="row">

                  <!--First column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/airbus.png" class="img-fluid px-4" alt="Airbus - logo" style="max-height: 40px">
                  </div>
                  <!--/First column-->

                  <!--Second column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/yahoo.png" class="img-fluid px-4" alt="Yahoo - logo" style="max-height: 40px">
                  </div>
                  <!--/Second column-->

                  <!--Third column-->
                  <div class="col-lg-3 col-md-6 d-flex ">
                    <img src="https://mdbootstrap.com/img/logo/brands/deloitte.png" class="img-fluid px-4" alt="Deloitte - logo" style="max-height: 40px">
                  </div>
                  <!--/Third column-->

                  <!--Fourth column-->
                  <div class="col-lg-3 col-md-6 d-flex">
                    <img src="https://mdbootstrap.com/img/logo/brands/ge.png" class="img-fluid px-4" alt="GE - logo" style="max-height: 40px">
                  </div>
                  <!--/Fourth column-->

                </div>
              </mdb-slide>
            </mdb-carousel>
          </div>
          <div class="col-md-2">.</div>
        </div>
      </div>
    </div>
  </div>





</main>