.header-bar{
    color: gray;
    height: 80px;
    background-color: #fdfddf;
    p {
        font-size: 0.8rem;
    }
}

.menu-bar{
    background-color:#fff;
    height: 50px;
}

.clearfix{
    margin-top: 5rem;
}