<div class="fixed-top d-none d-lg-block">
  <div class="header-bar">
    <div class="container">
      <div class="row pt-2">
        <div class="col-lg-5">
          <a class="pl-5">UPLOAD MY PHOTO</a>
          <a class="pl-5">MY ALBUM</a>
        </div>
        <div class="col-lg-2 text-center">
          <a class="m-auto">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 439 215.4" style="enable-background:new 0 0 439 215.4;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #010101;
                }

                .st1 {
                  fill: #FBC428;
                }
              </style>
              <g>
                <g>
                  <path class="st0" d="M6.1,207.5v-70h21.2l12.7,47.8l12.6-47.8h21.2v70H60.6v-55.1l-13.9,55.1H33l-13.8-55.1v55.1H6.1z" />
                  <path class="st0" d="M155.7,207.5h-15.4l-6.1-15.9h-28l-5.8,15.9h-15l27.3-70h14.9L155.7,207.5z M129.7,179.8l-9.6-26l-9.5,26
                 H129.7z" />
                  <path class="st0" d="M164.6,184.7l13.7-1.3c0.8,4.6,2.5,8,5,10.2c2.5,2.2,5.9,3.2,10.2,3.2c4.5,0,8-1,10.3-2.9
                 c2.3-1.9,3.5-4.2,3.5-6.8c0-1.7-0.5-3.1-1.5-4.2c-1-1.2-2.7-2.2-5.1-3c-1.7-0.6-5.4-1.6-11.3-3.1c-7.6-1.9-12.9-4.2-16-6.9
                 c-4.3-3.8-6.5-8.5-6.5-14.1c0-3.6,1-6.9,3-10s4.9-5.5,8.7-7.1c3.8-1.6,8.4-2.4,13.8-2.4c8.8,0,15.4,1.9,19.8,5.8
                 c4.4,3.9,6.8,9,7,15.4l-14.1,0.6c-0.6-3.6-1.9-6.2-3.9-7.8c-2-1.6-5-2.4-9-2.4c-4.1,0-7.3,0.8-9.6,2.5c-1.5,1.1-2.2,2.5-2.2,4.3
                 c0,1.7,0.7,3.1,2.1,4.3c1.8,1.5,6.1,3.1,13,4.7c6.9,1.6,12,3.3,15.3,5c3.3,1.7,5.9,4.1,7.7,7.1c1.9,3,2.8,6.7,2.8,11.2
                 c0,4-1.1,7.8-3.3,11.3c-2.2,3.5-5.4,6.1-9.5,7.8c-4.1,1.7-9.2,2.6-15.2,2.6c-8.8,0-15.6-2-20.4-6.1
                 C168.3,198.5,165.5,192.5,164.6,184.7z" />
                  <path class="st0" d="M254,207.5v-58.2h-20.8v-11.8h55.6v11.8h-20.7v58.2H254z" />
                  <path class="st0" d="M302.9,207.5v-70h51.9v11.8H317v15.5h35.1v11.8H317v19.1h39.1v11.8H302.9z" />
                  <path class="st0" d="M373.1,207.5v-70h29.8c7.5,0,12.9,0.6,16.3,1.9c3.4,1.3,6.1,3.5,8.1,6.7c2,3.2,3.1,6.9,3.1,11
                 c0,5.3-1.5,9.6-4.6,13c-3.1,3.4-7.7,5.6-13.8,6.5c3,1.8,5.6,3.7,7.6,5.9c2,2.1,4.7,5.9,8.1,11.4l8.5,13.7h-16.9l-10.2-15.2
                 c-3.6-5.4-6.1-8.9-7.4-10.3c-1.3-1.4-2.8-2.4-4.3-2.9c-1.5-0.5-3.9-0.8-7.1-0.8h-2.9v29.2H373.1z M387.2,167.1h10.5
                 c6.8,0,11-0.3,12.7-0.9c1.7-0.6,3-1.6,4-3c1-1.4,1.4-3.1,1.4-5.3c0-2.4-0.6-4.3-1.9-5.7c-1.3-1.4-3-2.4-5.3-2.7
                 c-1.1-0.2-4.6-0.2-10.3-0.2h-11V167.1z" />
                </g>
                <g>
                  <polygon class="st1" points="422.8,112.4 367.8,124.5 332.5,72.1 405.2,49 		" />
                  <polygon class="st1" points="327.5,54 287.3,63.3 259.2,33.6 309.3,7.7 		" />
                  <polygon class="st1" points="239.4,16.5 227.8,51.8 192.5,47.9 194.2,6 		" />
                  <polygon class="st1" points="160.6,27 117.1,39.1 122,67.2 157.3,60.6 		" />
                  <polygon class="st1" points="91.2,79.3 60.3,94.7 59.8,121.7 86.2,111.3 		" />
                </g>
              </g>
            </svg>
          </a>
        </div>
        <div class="col-lg-5 text-right">
          <a class="pl-2">TH/EN |</a>
          <a class="pl-2">SIGN IN/REGISTER |</a>
          <a class="pl-2">
            <i class="fa fa-shopping-bag"></i> MY BAG</a>
        </div>
      </div>

    </div>
  </div>

  <!--Navbar Desktop-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white ">
    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Prints
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Digital Offset Prints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Photobooks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Frames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Gifts</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Promotions
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>

      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->




  </mdb-navbar>
  <!--/.Navbar-->
</div>

<!--Navbar Mobile-->
<div class="navbar navbar-expand-lg navbar-light white fixed-top d-lg-none row">
  <div class="col-2">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-7 flex-center">
    <a href="#">
      <img src="../assets/images/logo/logo.png" height="30" alt="">
    </a>
  </div>
  <div class="col-3 flex-right">
    <a>
      SIGN IN
    </a>
  </div>
</div>
<!--/.Navbar-->
<div class="row clearfix">

  </div>
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar class="orange" [(opened)]="opened">
    <div class="row pl-4 pt-2">
      <div class="col-12">
        <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Prints
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Digital Offset Prints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Photobooks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Frames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Gifts</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="row mt-4">
      <div class="col-md-12">
        <mdb-carousel [isControls]="true" [animation]="'slide'">
          <mdb-slide *ngFor="let slide of slides; let index=index">
            <img class="d-block w-100" [src]="slide.image">
            <!-- <div class="carousel-caption">
                      <h4>Slide {{index}}</h4>
                      <p>{{slide.text}}</p>
                    </div> -->
          </mdb-slide>
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
      </div>
    </div>
    <main class="py-5">
      <div class="container">
        <!-- Click Us & Signin -->
        <div class="row m-auto text-center">
            <div class="col-md-5 ml-auto">
              <h2>Click Us!</h2>
              <div class="row m-auto">
                <div class="col-3 pl-3">
                  <a href="#">
                    <div class="view">
                      <img class="img-fluid" src="../assets/images/clickus/fb.png"  alt="Card image cap">
                    </div>
                  </a>
                </div>
                <div class="col-3">
                  <a href="#">
                    <div class="view">
                      <img class="img-fluid" src="../assets/images/clickus/email.png" alt="Card image cap">
                    </div>
                  </a>
                </div>
                <div class="col-3">
                  <a href="#">
                    <div class="view">
                      <img class="img-fluid" src="../assets/images/clickus/telaphone.png" alt="Card image cap">
                    </div>
                  </a>
                </div>
                <div class="col-3">
                  <a href="#">
                    <div class="view">
                      <img class="img-fluid" src="../assets/images/clickus/line.png" alt="Card image cap">
                    </div>
                  </a>
                </div>
  
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 mr-auto">
              <h2>Sign In</h2>
              <h5 class="light-text">Sign in or join to make a beautiful photo gift.</h5>
              <div class="row mt-3">
                <div class="col-6">
                  <a href="#">
                    <h4 class="orange-text">Sign In ></h4>
                  </a>
                </div>
                <div class="col-6">
                  <a href="#">
                    <h4 class="black-text">Join ></h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- What's Hot -->
        <div class="row text-center mt-5">
          <div class="col-md-12">
            <h2>WHAT 'S HOT</h2>
          </div>
        </div>

        <div class="row flex-center m-auto">
          <div class="col-md-3 pt-3" *ngFor="let product of products">
            <div class="view">
              <img class="img-fluid" [src]="product.image" alt="Card image cap">
              <div class="text-center">
                <h6 class="orange-text">{{product.name}}</h6>
                <p>{{product.description}}</p>
              </div>
            </div>
          </div>

        </div>

        <!-- What's New -->
        <div class="row text-center mt-5">
          <div class="col-md-12">
            <h2>WHAT 'S NEW</h2>
          </div>
        </div>
        <div class="row flex-center m-auto mt-4">
          <div class="col-md-12">
            <mdb-carousel [isControls]="true" [animation]="'slide'">
              <mdb-slide *ngFor="let idx of news">
                <div class="col-md-4 pt-3" *ngFor="let product of idx.items">
                  <div class="view">
                    <img class="img-fluid" [src]="product.image" alt="Card image cap">
                  </div>
                </div>
              </mdb-slide>
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
        </div>

      </div>
      <!-- OUR CUSTOMERs -->

      <div class="row text-center mt-5">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4">
          <h2>OUR CUSTOMERS</h2>
        </div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="container">
        <div class="row  flex-center">
          <div class="col-md-12">
            <mdb-carousel [isControls]="false" [animation]="'slide'">
                <mdb-slide *ngFor="let idx of customers">
                    <div class="col-md-3 pt-3" *ngFor="let product of idx.items">
                      <div class="view">
                        <img class="img-fluid" [src]="product.image" alt="Card image cap">
                      </div>
                    </div>
                  </mdb-slide>

            </mdb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
        </div>
      </div>
    </main>
    <!--Footer stylish-color-dark  -->
<footer class="page-footer font-small grey lighten-3 pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center">
      <div class="row  d-flex align-items-center">
        <!--Grid column-->
        <div class="col-md-12 col-lg-12">
          <a class="pl-4" href="">ABOUT US</a>
          <a class="pl-4" href="">PRODUCT PRICES</a>
          <a class="pl-4" href="">HOW TO ORDER</a>
          <a class="pl-4" href="">DELIVERY OPTIONS</a>
          <a class="pl-4" href="">PAYMENT OPTIONS</a>
          <a class="pl-4" href="">TERM OF SERVICE</a>
          <a class="pl-4" href="">CONTACT US</a>
        </div>
        <!--Grid column-->
      </div>
      <div class="row py-5 d-flex align-items-center">
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-secured.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-visa.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-master.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-JCB.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-2c2p.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/payments/logo-paypal.png" alt="Card image cap">
          </div>
          <div class="col-2">
          <h2>|</h2>
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/deliveries/logo-Delivery.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/deliveries/logo-kerry.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/deliveries/logo-ScgExpress.png" alt="Card image cap">
          </div>
          <div class="col-1">
              <img class="img-fluid" src="../assets/images/deliveries/logo-thaipost.png" alt="Card image cap">
          </div>
        </div>
      <div class="row d-flex align-items-center">
        <!--Grid column-->
        <div class="col-md-12 col-lg-12">
          <!--Copyright-->
          <p class="text-center grey-text">
            <a href="http://masterphotonetwork.com/index.php">
              <strong> © 2018 MASTERPHOTONETWORK. ALL RIGHT RESERVED</strong>
            </a>
          </p>
          <!--/.Copyright-->
        </div>
        <!--Grid column-->
      </div>
    </div>
  
  </footer>
  <!--/.Footer-->
  </div>

</ng-sidebar-container>


